<ion-list *ngIf="monsters | async as monsters">
    <ion-item *ngFor="let monster of monsters" (click)="clicked.emit(monster)">
        <ion-label>{{ monster.name }}</ion-label>
    </ion-item>
</ion-list>
