<app-menu-header>Battle</app-menu-header>

<ion-content>
    <ng-container *ngIf="battle">
        <ion-reorder-group (ionItemReorder)="reorder($event)" disabled="false">
            <ion-item-sliding *ngFor="let player of battle.players">
                <ion-item (click)="openPlayerForm(player)" [color]="getColorForPlayer(player)">
                    <ion-reorder slot="start"></ion-reorder>
                    <ion-label>{{ player.name }}</ion-label>
                    <ion-note slot="end">{{ player.initiative }}</ion-note>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="deletePlayer(player)">Delete</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-reorder-group>
        <ion-button expand="block" fill="clear" (click)="sort()">Sort By Initiative</ion-button>
    </ng-container>
    <ion-button expand="block" fill="clear" (click)="openPlayerForm()">Add Player</ion-button>
</ion-content>
