<app-menu-close>Spell - {{ spell.name }}</app-menu-close>

<ion-content>
    <ion-card *ngFor="let data of getData()">
        <ion-card-header>
            <ion-card-title>{{ data.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ data.value }}
        </ion-card-content>
    </ion-card>
</ion-content>
