<app-menu-back>Spells</app-menu-back>

<ion-content>
    <ion-searchbar (ionChange)="name = $event.detail.value"></ion-searchbar>
    <app-spell-search [search]="name" (clicked)="openDetail($event)"></app-spell-search>
</ion-content>
