<app-menu-header>Manage Data</app-menu-header>

<ion-content>
    <app-menu-list [menuItems]="dataItems"></app-menu-list>
    <app-menu-list [menuItems]="dbItems"></app-menu-list>
    <ion-item href="">
        <ion-label (click)="reInitDatabase()">Clear Database</ion-label>
    </ion-item>
</ion-content>
