<app-menu-close>Add Player</app-menu-close>

<ion-content>
    <form [formGroup]="formGroup" (ngSubmit)="submitData()">
        <ion-item>
            <ion-label>Name</ion-label>
            <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Initiative</ion-label>
            <ion-input formControlName="initiative" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Armor</ion-label>
            <ion-input formControlName="armor" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Hit Points</ion-label>
            <ion-input formControlName="hitPoints" type="number"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Hit Dice</ion-label>
            <ion-input formControlName="hitDice"></ion-input>
        </ion-item>
        <ion-button type="submit">Save</ion-button>
    </form>

    <app-monster-search [search]="name" (clicked)="preFillMonster($event)"></app-monster-search>
</ion-content>
