<ion-header>
    <ion-toolbar>
        <ion-title>
            Start Session
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button *ngIf="!started" (click)="startService()">Start</ion-button>
    <ion-button *ngIf="started" (click)="stopService()">Stop</ion-button>

</ion-content>
